In [2]:
#print first 5 rows
import pandas as pd
df = pd.read_csv(r"C:\Users\Shailesh\OneDrive\Desktop\coding\Python\swiggy.csv")
print(df.head())

    ID         Area       City         Restaurant  Price  Avg ratings  \
0  211  Koramangala  Bangalore        Tandoor Hut  300.0          4.4
1  221  Koramangala  Bangalore      Tunday Kababi  300.0          4.1
2  246    Jogupalya  Bangalore            Kim Lee  650.0          4.4
3  248  Indiranagar  Bangalore  New Punjabi Hotel  250.0          3.9
4  249  Indiranagar  Bangalore                Nh8  350.0          4.0

   Total ratings                                          Food type  \
0            100          Biryani,Chinese,North Indian,South Indian
1            100                                   Mughlai,Lucknowi
2            100                                            Chinese
3            500               North Indian,Punjabi,Tandoor,Chinese
4             50  Rajasthani,Gujarati,North Indian,Snacks,Desser...

        Address  Delivery time
0     5Th Block             59
1     5Th Block             56
2   Double Road             50
3  80 Feet Road             57
4  80 Feet Road             63

In [4]:
#print first 5 rows
import pandas as pd
df = pd.read_csv(r"C:\Users\Shailesh\OneDrive\Desktop\coding\Python\swiggy.csv")
print(df.head(10))

    ID         Area       City                                    Restaurant  \
0  211  Koramangala  Bangalore                                   Tandoor Hut
1  221  Koramangala  Bangalore                                 Tunday Kababi
2  246    Jogupalya  Bangalore                                       Kim Lee
3  248  Indiranagar  Bangalore                             New Punjabi Hotel
4  249  Indiranagar  Bangalore                                           Nh8
5  254  Indiranagar  Bangalore                                         Treat
6  258  Indiranagar  Bangalore                     Chinita Real Mexican Food
7  263  Koramangala  Bangalore  Cupcake Noggins - Cakespastries And Desserts
8  267       Domlur  Bangalore                                      Tea Brew
9  308  Koramangala  Bangalore                                    Bangaliana

    Price  Avg ratings  Total ratings  \
0   300.0          4.4            100
1   300.0          4.1            100
2   650.0          4.4            100
3   250.0          3.9            500
4   350.0          4.0             50
5   800.0          4.5            100
6  1000.0          4.5            500
7   150.0          4.3            100
8   350.0          4.1            100
9   300.0          4.0            500

                                           Food type        Address  \
0          Biryani,Chinese,North Indian,South Indian      5Th Block
1                                   Mughlai,Lucknowi      5Th Block
2                                            Chinese    Double Road
3               North Indian,Punjabi,Tandoor,Chinese   80 Feet Road
4  Rajasthani,Gujarati,North Indian,Snacks,Desser...   80 Feet Road
5                               Mughlai,North Indian  100 Feet Road
6                           Mexican,Beverages,Salads    Double Road
7              Desserts,British,Bakery,Pizzas,Snacks      4Th Block
8  American,Italian,Beverages,Continental,Chinese...    Double Road
9                                            Bengali      7Th Block

   Delivery time
0             59
1             56
2             50
3             57
4             63
5             56
6             53
7             57
8             57
9             57

In [5]:
#print first 5 rows
import pandas as pd
df = pd.read_csv(r"C:\Users\Shailesh\OneDrive\Desktop\coding\Python\swiggy.csv")
print(df.tail(10))

          ID                    Area       City  \
8670  463051                  Rohini      Delhi
8671  464112          Himayath Nagar  Hyderabad
8672  464194      Ghatkopar Vikhroli     Mumbai
8673  464354           Prahlad Nagar  Ahmedabad
8674  464401                   Athwa      Surat
8675  464626  Panjarapole Cross Road  Ahmedabad
8676  465835                  Rohini      Delhi
8677  465872                  Rohini      Delhi
8678  465990                  Rohini      Delhi
8679  466488             Navrangpura  Ahmedabad

                                           Restaurant  Price  Avg ratings  \
8670                                 Zaika The Bakers  400.0          2.9
8671                                   Bake And Beans  400.0          2.9
8672                                     Tj'S Kitchen  300.0          2.9
8673                                Reyansh'S Kitchen  500.0          2.9
8674  Panditjis Dilliwale Chhole Bhature & Dilli Chat  250.0          2.9
8675                                       Malt Pizza  500.0          2.9
8676                         Jay Mata Ji Home Kitchen  200.0          2.9
8677                             Chinese Kitchen King  150.0          2.9
8678                           Shree Ram Paratha Wala  150.0          2.9
8679                                     Sassy Street  250.0          2.9

      Total ratings                                Food type  \
8670             80                                   Pizzas
8671             80  Snacks,American,Pizzas,Pastas,Beverages
8672             80              South Indian,Chinese,Snacks
8673             80                                 Desserts
8674             80                North Indian,Chaat,Snacks
8675             80                                   Pizzas
8676             80                             South Indian
8677             80                   Chinese,Snacks,Tandoor
8678             80               North Indian,Indian,Snacks
8679             80                     Chaat,Snacks,Chinese

                 Address  Delivery time
8670              Rohini             38
8671      Himayath Nagar             36
8672  Ghatkopar Vikhroli             48
8673       Prahlad Nagar             50
8674               Athwa             44
8675         Navrangpura             40
8676              Rohini             28
8677              Rohini             58
8678              Rohini             28
8679         Navrangpura             44

In [6]:
#print first 5 rows
import pandas as pd
df = pd.read_csv(r"C:\Users\Shailesh\OneDrive\Desktop\coding\Python\swiggy.csv")
print(df.tail())

          ID                    Area       City                Restaurant  \
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings                   Food type  \
8675  500.0          2.9             80                      Pizzas
8676  200.0          2.9             80                South Indian
8677  150.0          2.9             80      Chinese,Snacks,Tandoor
8678  150.0          2.9             80  North Indian,Indian,Snacks
8679  250.0          2.9             80        Chaat,Snacks,Chinese

          Address  Delivery time
8675  Navrangpura             40
8676       Rohini             28
8677       Rohini             58
8678       Rohini             28
8679  Navrangpura             44

In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Shailesh\OneDrive\Desktop\coding\Python\swiggy.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8680 entries, 0 to 8679
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             8680 non-null   int64
 1   Area           8680 non-null   object
 2   City           8680 non-null   object
 3   Restaurant     8680 non-null   object
 4   Price          8680 non-null   float64
 5   Avg ratings    8680 non-null   float64
 6   Total ratings  8680 non-null   int64
 7   Food type      8680 non-null   object
 8   Address        8680 non-null   object
 9   Delivery time  8680 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 678.3+ KB
None